/* MAKE MEDIA QUERRY MAX-WIDTH 670PX */
@media only screen and (max-width: 670px) {
  /* Make the navbar fixed */
  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
  }
  /* Make the navbar stick to the top of the page */
  .navbar {
    z-index: 1;
  }
  /* Remove the navbar's default margin-bottom and rounded borders */
  .navbar {
    margin-bottom: 0;
    border-radius: 0;
  }
  .main-content .container {
    margin: auto;
    flex-direction: column-reverse;
  }
  .main-content .container p {
    width: 30em;
  }
  .contact-us {
    width: 25em;
  }
  .judul-heading {
    width: 15em;
  }
  .tittle-image {
    margin: 0 25%;
    padding-bottom: 2em;
  }
  .typing-demo {
    margin: auto;
    font-size: 0.8em;
  }
  .container-card {
    flex-direction: column;
  }
  .card {
    width: 60%;
    margin: 0 17%;
    text-align: center;
  }
  .input-container {
    width: 80%;
    margin: 5%;
  }
}
